@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-slate-900 antialiased;
    background: radial-gradient(circle at top right, #f8fafc, #eff6ff); /* 微弱的渐变背景 */
    min-height: 100vh;
  }
}

/* 自定义滚动条 */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  @apply bg-transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-300 rounded-full hover:bg-slate-400;
}

* { box-sizing: border-box; transition: all 0.2s ease-in-out; }